    <nav>
            <ul>
                <li class="name">Welcome,<%=user.name%></li>
                <li><a href="/home/<%=user._id%>">Home</a></li>
                <li><a href="/bikes/<%=user._id%>">Bikes</a></li>
                <li><a href="/about/<%=user._id%>">About</a></li>
                <li><a href="/location/<%=user._id%>">Location</a></li>
            </ul>
    </nav>
